# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# Data files
data/raw/
data/augmented/
data/processed/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db